body {
  font-family: 'Zilla Slab', monospace;
  font-size: 20px;
}

h1,h2,h3 {
  font-family: 'Zilla Slab', monospace;
}

.btn {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: bold;
  outline: 1px solid #212529;
  border: 3px solid transparent;
  transition: all 0.2s ease-in-out;
  margin-left: 5px
}

.btn:hover {
  outline: 0px solid transparent;
  border: 3px solid white;
  transition: all 0.2s ease-in-out;
  margin-left: 5px
}
.box {
  min-height: 50px;
  padding: 50px;
  margin-top: 20px;
  color: #303030;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
}

.purple {
  background: #e1e1e1;
}

.table {
  font-size: 15px;
}

.responsive-img {
  width: 90%;
  height: auto;
  max-width: 350px;
  padding-right: 15px;
  padding-bottom:15px;
}
.responsive-img-sm {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.img-fluid{
  /* max-width: 50%; */
  height: 250px;
  float:left;
  padding-right: 15px;
}

.img-border {
  border:3px solid #303030;
}

.item
{
        padding-top:1px;
}

.item:hover {
    background: #e1e1e1;
    border: 5px solid #000000;
    padding-top:0;
}

.footer {
  padding-top:50px;
  padding-bottom: 5px;
  font-size: 15px;
  color: grey
}