.box {
  min-height: 50px;
  padding: 20px;
  margin-top: 20px;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}

.purple {
  background: lavender;
}

.responsive-img {
  width: 90%;
  height: auto;
  max-width: 350px;
  padding-right: 15px;
  padding-bottom:15px;
}
.responsive-img-sm {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.img-fluid{
  max-width: 100%; 
  height: auto;
  padding: 15px;
}